<!DOCTYPE html>
<html>
<title>Dxdiag</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="fontawesome-free/css/all.css">
<script rel="stylesheet" href="fontawesome-free/fontawesome-free/js/all.js"></script>
<link rel="stylesheet" href="style/header.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="style/contact.css">
<link rel="stylesheet" href="style/cal.css">
<script src="bootstrap/js/bootstrap.min.js"></script>
<header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <section class="navigation">   
        <div class="nav-container">
            <div class="brand">
                <a href="/home">Dxdiag</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fa fa-info-circle" aria-hidden="true"></i> About</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fa fa-wrench" aria-hidden="true"></i> Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="/camerapricing">Cameras</a>
                            </li>
                            <li>
                                <a href="#!">Server Hosting</a>
                            </li>
                            <li>
                                <a href="#!">Software Support</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#!"><i class="fa fa-credit-card" aria-hidden="true"></i> Pricing</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="#!">Web Design</a>
                            </li>
                            <li>
                                <a href="#!">Web Development</a>
                            </li>
                            <li>
                                <a href="#!">Graphic Design</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact"><i class="fa fa-phone" aria-hidden="true"></i> Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</header>
