<%- include('../../Header/Main'); %>

    <body>
        <div data-aos="fade-up"
     data-aos-duration="3000">
</div>
        <h1 class="py-4">What We Do<br></h1>        
        <section class="container pt-4">
            <div class="row py-5">
                <div class="col-12 text-md-start text-center mb-5">
                    <h2 class="fw-light text-white">
                        Self-managed server prices</span>
                    </h2>
                    <p class="text-white fs-5">We collaborate with our customers to serve as a single, accessible, responsive, and friendly expert point of contact for their IT environment, reducing the true cost and impact of IT downtime.</p>
                </div>
            </div>              
        </section>        
        <a button class="button" href="#Pricing"><span>See server plans </span></a></button></a>
          </div>
          <section class="we-offer-area text-center bg-gray" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-heading text-center">
                            <h2 style="color: #ffffff;">What we <span>Offer</span></h2>                        
                        </div>
                    </div>
                </div>
                    <div class="row our-offer-items less-carousel">
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <i class="fas fa-pen-fancy"></i>
                                <h4>IT Support</h4>
                                <p>
                                    We collaborate with our customers to serve as a single, accessible, responsive, and friendly expert point of contact for their IT environment, reducing the true cost and impact of IT downtime.

                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
    
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6">
                            <div class="item">
                                <i class="fas fa-dharmachakra"></i>
                                <h4>Software Development</h4>
                                <p>
                                    We are committed to getting customers online reliably and affordably, as well as providing software that will increase the productivity of your business.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
    
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6 equal-height">
                            <div class="item">
                                <i class="fas fa-tasks"></i>
                                <h4>Cloud Computing</h4>
                                <p>
                                    Cloud computing, as opposed to using a local server or a single computer, makes use of a network of remote servers hosted on the internet. It is one of the most efficient ways of doing business, providing access to cutting-edge hardware (e.g., secure servers) and software resources (e.g., email, data backup) at a low cost.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
    
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6 equal-height">
                            <div class="item">
                                <i class="fas fa-tachometer-alt"></i>
                                <h4>Network Security</h4>
                                <p>
                                    Network security gives you complete peace of mind, ensuring your client data and information is private, and giving you reliable access and performance across your network.  
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
    
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6 equal-height">
                            <div class="item">
                                <i class="fas fa-recycle"></i>
                                <h4>Software Update</h4>
                                <p>
                                    Installing updates may add new features and remove old ones that are no longer necessary. Updates provide the most recent features and advancements because technology is always evolving.
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
    
                        <!-- Single Item -->
                        <div class="col-md-4 col-sm-6 equal-height">
                            <div class="item">
                                <i class="fas fa-headset"></i>
                                <h4>24/7 Support</h4>
                                <p>
                                    Provide support to our customers during after hours and weekends. 
                                </p>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
            </div>
        </section>
        <div class="demo10" >
            <div class="container">
                <h4 id="Pricing" class="text-center">EASY, AFFORDABLE, HASSLE FREE!</h4>
                <div class="py-4 row">
                    <div class="col-md-3 col-sm-6" style="max-height:500px">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Server</h3>
                                <span class="price-value">
                                    <span class="currency"></span>R199.99
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>9-5 Support</li>
                                    <li>Bare Metal Services</li>
                                    <li>Website Hosting</li>
                                    <li>Software Raid</li>
                                    <li>16GB Ram</li>
                                    <li>1-5 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                    <li>1TB Hard Drive up to 1 Year Storage*</li>

                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="max-height:500px">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Standard</h3>
                                <span class="price-value">
                                    <span class="currency">R</span> 299.99
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>9-5 Support</li>
                                    <li>Bare Metal Services</li>
                                    <li>Website Hosting</li>
                                    <li>Software Raid</li>
                                    <li>16GB Ram</li>
                                    <li>5-10 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                    <li>2TB Hard Drive for 1 Year Storage</li>

                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6" style="max-height:500px">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Premium</h3>
                                <span class="price-value">
                                    <span class="currency">R</span> 399.99
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>9-5 Support</li>
                                    <li>Bare Metal Services</li>
                                    <li>Website Hosting</li>
                                    <li>Software Raid</li>
                                    <li>64GB Ram</li>
                                    <li>10-15 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                    <li>3TB Hard Drive for 1 Year Storage</li>


                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable10">
                            <div class="pricingTable-header">
                                <h3 class="heading">Enterprise</h3>
                                <span class="price-value">
                                    <span class="currency">R</span> 499.99
                                    <span class="month">/mo</span>
                                </span>
                            </div>
                            <div class="pricing-content">
                                <ul>
                                    <li>9-5 Support</li>
                                    <li>Bare Metal Services</li>
                                    <li>Website Hosting</li>
                                    <li>Software Raid</li>
                                    <li>32GB Ram</li>
                                    <li>15-20+ TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                    <li>4TB Hard Drive for 1 Year Storage</li>

                                </ul>
                                <a href="#" class="read">sign up</a>
                            </div>
                        </div>
                    </div>
                </div>             
                                                                  
                        
            </div>
        </div>
    </body>
    <%- include('../../Footer/Main'); %>