<%- include('../../Header/Main'); %>
<body>
    <div class="row justify pb-5">
        <div class="col-sm-12 col-lg-4 offset-lg-6">
        <div class="software-title">                
            <h2 class="section-title text-white">AI Analytic<br> Features<hr></h2><br><br>
            <div style = "position:fixed; left:80px; top:20px;">     
        </div>
        </div>
    </div>
    <div class="section-gris-ai">
        <div class="column">
            <div class="content-block-left-ai">
                <div class="content-wrap">
                    <p class="standard-title">Capabilities</p>
                    <h2 class="standard-heading">
                        <strong class="bold-text-2">System Capabilities<br></strong><br>
                    </h2>
                    <p class="paragraph-bullets-2">- Mobile – Native iOS &amp; Android Apps<br>- Digital PTZ Controls<br>- 30-60-90-N Day Retention<br>- Integrates with any IP Camera*<br>- Failure Tolerant / Redundant Data-Center<br>- Automatic firmware updates to <a href="/products/cloud-video-recording-cloudastructure">CVR</a> and life-time warranty of <a href="/products/cloud-video-recording-cloudastructure">CVR</a><br><br>*Excludes proprietary consumer based WiFi cameras or discontinued cameras<br><br></p>
                </div>
            </div>
            <div class="content-block-left-ai">
                <div class="content-wrap"><p class="standard-title">Features</p>
                    <h2 class="standard-heading standard-heading-white">
                        <strong class="bold-text">System Administration Features<br></strong><br>
                    </h2>
                    <p class="paragraph-bullets-2">- Multi-tiered User Permissioning System (Different Levels of admin/user roles)<br> - Audit Trails of all user activity with unlimited storage capacity<br>- Two-Factor Authentication (2FA) for user access<br>- Single Sign On (SSO) – integration with third-party identity access management systems for secure, seamless authentication<br>- Data Security: Data encryption at-rest and in-transit<br> - Intelligent Bandwidth/Video Data Motion Local Buffering<br>- System Health Monitoring – Notifications health of all systems   
                        <p class="body-md text-white"></p>
        </div>
    </div>

    <div class="column-wrap-reversed column-space">
        <div class="image-block">
            <div style="text-align: left">
                <img src="https://images.unsplash.com/photo-1563920443079-783e5c786b83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2N0dnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" sizes="(max-width: 479px) 100vw, (max-width: 767px) 71vw, (max-width: 991px) 68vw, 29vw" alt="" class="content-image">
            </div>               
    </div>
    <div class="content-block-left"><div class="content-wrap"><p class="standard-title">Monitor and Review 24/7</p>
        <h2 class="standard-heading standard-heading-white">Manage Anytime, Anywhere</h2><p class="paragraph-product">Securely store and access recorded and live feeds in the cloud on a secure browser, so you can monitor and review 24/7 from any internet enabled device. Gain full visibility to all your locations and evaluate threats remotely, with easy access to time-stamped video recorded by Cloudastructure Video Surveillance Software.</p>
    </div>
</div>
</div>
</div>

<div class="section-7 wf-section">
    <div class="title-wrap-ai-1"><p class="standard-title">ai + ml</p><h3 class="heading-primary"><strong class="bold-text-8">AI Analytic Features</strong><br></h3><p class="paragraph-white-1 paragraph-centre-white">- Advanced vehicle and people detection: counting, classification, license plate recognition, wrong way detection<br>- Tagger – the system tags every object for fast, easy search (person, vehicle, backpack, etc.)<br>- Rule based alerts – based on time of day, person ID or license plate ID<br>- Search by Face/Person (facial recognition) or by color (blue shirt)<br></p>
    </div>
    <div class="container-13 w-container">
        <div class="image-block-ai"><h2 class="standard-heading-ai standard-heading-white-ai">
        </div>
        <div class="image-block-ai"><h2 class="standard-heading-ai standard-heading-white-ai">
            <strong class="bold-text-10">Motion Masking / Exclusion Zones<br></strong><br></h2>
            <img src="https://uploads-ssl.webflow.com/610476b7bda1940095409800/62db38c42ccfa430ce577415_masking-zones-1.png" sizes="50vw" srcset="https://uploads-ssl.webflow.com/610476b7bda1940095409800/62db38c42ccfa430ce577415_masking-zones-1-p-500.png 500w, https://uploads-ssl.webflow.com/610476b7bda1940095409800/62db38c42ccfa430ce577415_masking-zones-1.png 630w" alt="" class="content-image-ai">
</div>
</div>
</div>

    <div class="demo10">
        <div class="container">
            <h4 class="text-center">EASY, AFFORDABLE, HASSLE FREE!</h4>
            <div class="py-4 row">
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Personal</h3>
                            <span class="price-value">
                                <span class="currency"></span>R199.99
                                <span class="month">/mo</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>9-5 Support</li>
                                <li>Documentation & Tutorials</li>
                                <li>Live view setup</li>
                                <li>Server hosting</li>
                                <li>CCTV installation</li>
                                <li>1-5 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                <li>1TB Hard Drive up to 1 Year Storage*</li>

                            </ul>
                            <a href="#" class="read">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Standard</h3>
                            <span class="price-value">
                                <span class="currency">R</span> 299.99
                                <span class="month">/mo</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>9-5 Support</li>
                                <li>Documentation & Tutorials</li>
                                <li>Live view setup</li>
                                <li>Server hosting</li>
                                <li>CCTV installation</li>
                                <li>5-10 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                <li>2TB Hard Drive for 1 Year Storage</li>

                            </ul>
                            <a href="#" class="read">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Premium</h3>
                            <span class="price-value">
                                <span class="currency">R</span> 399.99
                                <span class="month">/mo</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>9-5 Support</li>
                                <li>Documentation & Tutorials</li>
                                <li>Live view setup</li>
                                <li>Server hosting</li>
                                <li>CCTV installation</li>
                                <li>10-15 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                <li>3TB Hard Drive for 1 Year Storage</li>


                            </ul>
                            <a href="#" class="read">sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Enterprise</h3>
                            <span class="price-value">
                                <span class="currency">R</span> 499.99
                                <span class="month">/mo</span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>9-5 Support</li>
                                <li>Documentation & Tutorials</li>
                                <li>Live view setup</li>
                                <li>Server hosting</li>
                                <li>CCTV installation</li>
                                <li>15-20+ TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                                <li>4TB Hard Drive for 1 Year Storage</li>

                            </ul>
                            <a href="#" class="read">sign up</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 row">
                <div class="span">
                    <div class="pricingTable10">
                        <div class="pricingTable-header">
                            <h3 class="heading">Custom</h3>
                            <span class="price-value">
                                <span class="currency"></span> Lets Talk!
                                <span class="month"></span>
                            </span>
                        </div>
                        <div class="pricing-content">
                            <ul>
                                <li>Customized Plan</li>
                                <li>Dedicated Environment</li>
                                <li>Phone Support
                                <li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <a href="#" class="read">sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('../../Footer/Main'); %>