.demo10 {   
    padding: 5%
  }
 

  .section-title {  
    padding-top: 0px;    
    padding-bottom: 0px;    
    margin-top: 0px; 
}

.description {
    margin-top: 0px;
    font-size: 1rem;
    font-weight: 300;      
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;  
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    box-shadow: #201f1f;
    color: #fff;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
   position: relative;
   z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.button:hover span {
  padding-right: 25px;
}

img {
  border-radius: 25px;
}

.img-fluid{
  border: #000;
}

.container {
  color: grey;
}

/* gallery */
.column{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-left: auto;
  padding-top: 100px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;  
}
.section-gris-ai {
  margin-top: 50px;
  padding: 10px 5% 60px;
  background-color: #ffffff;
}

.column-wrap-reversed.column-space {
  margin-bottom: 140px;
}

.column-wrap-reversed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: hsla(0, 0%, 98%, 0);
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: start;
  max-width: 700px;
  margin: 0 auto;
  transition: all 150ms linear;
}

.gallery input[type="radio"] {
  display: none;
}

.gallery label {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery label:before {
  border: 1px solid #e3e3e3;
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
}

.gallery img {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  transition: all 150ms linear;
}

.gallery input[name="select"]:checked + label + img {
  display: block;
}

.gallery input[name="select"]:checked + label:before {
  border: 1px solid #000;
}

  .pricingTable10 {
    text-align: center;
    overflow: auto;
    min-width:calc();

  }
  
.pricingTable {
  background: none;
}

  .pricingTable10 .pricingTable-header {
    padding: 20px 0;
    background: #4d4d4d;
    position: relative;
    transition: all .3s ease 0s;
  }
  
  .pricingTable10:hover .pricingTable-header {
    background: #09b2c6
  }
  
  .pricingTable10 .pricingTable-header:after,
  .pricingTable10 .pricingTable-header:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #d8d8d9;
    position: absolute;
    bottom: 12px
  }
  
  .pricingTable10 .pricingTable-header:before {
    left: 40px
  }
  
  .pricingTable10 .pricingTable-header:after {
    right: 40px
  }
  
  .pricingTable10 .heading {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0
  }
  
  .pricingTable10 .price-value {
    display: inline-block;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #09b1c5;
    transition: all .3s ease 0s
    
  }
  
  .pricingTable10:hover .price-value {
    color: #fff
  }
  
  .pricingTable10 .currency {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: -19px
  }
  
  .pricingTable10 .month {
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: -40px;
    text-transform: uppercase
  }
  
  .pricingTable10 .pricing-content {
    padding-top: 20%;
    background: #fff;
    position: relative
  }
  
  .pricingTable10 .pricing-content:after,
  .pricingTable10 .pricing-content:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #7c7c7c;
    position: absolute;
    top: 12px
  }
  
  .pricingTable10 .pricing-content:before {
    left: 40px
  }
  
  .pricingTable10 .pricing-content:after {
    right: 40px
  }
  
  .pricingTable10 .pricing-content ul {
    padding: 0 20px;
    margin: 0;
    list-style: none
  }
  
  .pricingTable10 .pricing-content ul:after,
  .pricingTable10 .pricing-content ul:before {
    content: "";
    width: 8px;
    height: 46px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #818282 50%, #727373 50%);
    position: absolute;
    top: -22px;
    z-index: 1;
    box-shadow: 5px 10px 5px #4d4d4d;
    transition: all .3s ease 0s
  }
  
  .pricingTable10:hover .pricing-content ul:after,
  .pricingTable10:hover .pricing-content ul:before {
    background: linear-gradient(to bottom, #40c4db 50%, #34bacc 50%);
    box-shadow: 10px 10px 5px #727171;    
  }
  
  .pricingTable10 .pricing-content ul:before {
    left: 44px
  }
  
  .pricingTable10 .pricing-content ul:after {
    right: 44px
  }
  
  .pricingTable10 .pricing-content ul li {
    font-size: 15px;
    font-weight: 700;
    color: #777473;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d8
  }
  
  .pricingTable10 .pricing-content ul li:last-child {
    border-bottom: none
  }
  
  .pricingTable10 .read {
    display: inline-block;
    font-size: 16px;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    background: #d9d9d8;
    padding: 8px 25px;
    margin: 30px 0;
    transition: all .3s ease 0s
  }
  
  .pricingTable10 .read:hover {
    text-decoration: none;
    box-shadow: 10px 10px 5px #4d4d4d;    
  }
  
  .pricingTable10:hover .read {
    background: #09b1c5
  }
  
  @media screen and (max-width:600px) {
    .pricingTable10 {
      margin-bottom: 25px
    }
  }
  
  /* Credit to https://bootsnipp.com/snippets/92erW */
  