body {
    color: #fff;   
    overflow: auto;
    
  }
  .right_contact_social_icon {
    background: linear-gradient(to top right, #6d6b6b -5%, #4d4d4d 100%);  
    border-radius: 0 25px 25px  0;    
  }

  .contact_us {
    background-color: #f1f1f1;
    padding: 120px 0px;
    width: 50%;
    overflow: hidden;    
    min-width: 100px;
    width: 60%;    
  }  

  .contact_inner {
    background-color: #fff;
    position: relative;
    border-radius: 25px 25px 25px 25px;
  }
  
  .contact_field {
    min-width: 200px;
    padding: 60px 340px 90px 100px;    
    overflow: hidden;    
  }
 
  .contact_field h3 {
    color: #09b1c5;
    font-size: 40px;
    letter-spacing: px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .contact_field p {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
  }
  .contact_field .form-control {
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #09b1c5;
  }
  .contact_field .form-control:focus {
    box-shadow: none;
    outline: none;
    border-bottom: 3px solid #09b1c5;
  }
  .contact_field .form-control::placeholder {
    font-size: 13px;
    letter-spacing: 5px;
  }
  
  .contact_info_sec {
    position: absolute;
    background-color: #09b1c5;
    right: 1px;
    top: 18%;
    height: 340px;
    color: #fff;
    width: 40%;
    min-width: 300px;
    padding: 40px;
    border-radius: 25px 25px 25px 25px;
  }

  .contact_info_sec h4 {
    letter-spacing: 1px;
    padding-bottom: 15px;   
    
  }
  
  .info_single {
    margin: 30px 0px;
  }

  .info_single i {
    margin-right: 15px;
  }
  
  .info_single span {
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  button.contact_form_submit {
    background: linear-gradient(to top right, #4a85bd -5%, #09b1c5 100%);
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    
  }

  button:hover {
    background: #09b1c5
  }


  
