@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}


.feature-title {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 4vw; 
  margin-top: 5vh;
  color:white
}

@media (max-width: 500px) {
    .feature-title {
        font-size: 30px;
    }
}

.feature-and {
  color: #109AC4;
}

.feature-desc {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 3vw;
  color: #ffffff;
}

@media (max-width: 500px) {
    .feature-desc {
        font-size: 25px;
    }
}

.content-desc {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  color: #f5f5f5;
  padding: 6vh 0 6vh 0;
  border-bottom: 3px dotted #7F8385;
}

.content {
  margin: 6vh 0px 6vh 0px;
  padding-bottom: 6vh;
  border-bottom: 3px dotted #7F8385;
}

.colOne, .colTwo, .colThree {
  background-image: radial-gradient(circle, rgba(0, 0, 255, 0), #028CBA 0.1%, #22718b 70%);
  min-height: 100px;
  padding: 0px 2vw 8vh 2vw;
  color: #FFFFFF;
  box-shadow: 8px 8px 5px #A0A6A8;
}

@media (max-width: 1000px){
  .colOne, .colTwo, .colThree {
    margin-bottom: 15px;
  }
}

.colOneT, .colTwoT, .colThreeT {
  border-bottom: 3px dotted #7F8385;
  padding: 3vh;
}

.colOneC, .colTwoC, .colThreeC {
  padding: 3vh;
}

#content2 {
  border-right: 3px dotted #7F8385;
}

@media (max-width: 1000px){
  #content2 {
    border-style: none;
  }
}

#content2-1 {
  margin-bottom: 10px;
}

.content2-1P {
  line-height: 1.2em;
  height: 2.4em;
  overflow: hidden;
}

.content2-2P {
  line-height: 1.2em;
  height: 3.4em;
  overflow: hidden;
}

#content3 {
  padding-bottom: 6vh;
  border-bottom: 3px dotted #7F8385;
}

.btn {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: #09b1c5;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: #fff;
 }
 
 .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }

.footer {
  margin: 6vh 0 20vh 0;
}



.bt {
  border: none;
  user-select: none;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #0873bd;
  box-shadow: #cacaca 2px 2px 10px 1px;
  border-radius: 12px;
  height: 60px;
  line-height: 60px;
  width: 155px;
  transition: all 0.2s ease;
  position: relative;
  padding-bottom: 10px;
  
}

.msg {
  height: 0;
  width: 0;
  border-radius: 2px;
  position: absolute;
  left: 15%;
  top: 25%;
}

.bt:active {
  transition: all 0.001s ease;
  background-color: #5d9fcd;
  box-shadow: #97989a 0 0 0 0;
  transform: translateX(1px) translateY(1px);
}

.bt:hover .msg {
  animation: msgRun 2s forwards;
}

@keyframes msgRun {
  0% {
    border-top: #d6d6d9 0 solid;
    border-bottom: #f2f2f5 0 solid;
    border-left: #f2f2f5 0 solid;
    border-right: #f2f2f5 0 solid;
  }

  20% {
    border-top: #d6d6d9 14px solid;
    border-bottom: #f2f2f5 14px solid;
    border-left: #f2f2f5 20px solid;
    border-right: #f2f2f5 20px solid;
  }

  25% {
    border-top: #d6d6d9 12px solid;
    border-bottom: #f2f2f5 12px solid;
    border-left: #f2f2f5 18px solid;
    border-right: #f2f2f5 18px solid;
  }

  80% {
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }

  100% {
    transform: translateX(150px);
    border-top: transparent 12px solid;
    border-bottom: transparent 12px solid;
    border-left: transparent 18px solid;
    border-right: transparent 18px solid;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.main-footer {
  padding: 30px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #0f4158;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration:none;
}

footer {
  background-color: #083f58;
  border-top: 1px solid #23648f;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: #41bdce;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration:none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com ul li{
  padding:5px 0;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info{
      padding:20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 

}
