.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;    
    background-color: rgb(255, 255, 255);    
}


.software-title {
  -webkit-transform: translate(-60%, 50%);
  transform: translate(-60%, 50%);
  text-shadow: 0 0 3px #bccbe9;
  line-height: 3;
}

.section-title {
    line-height: 0.95em;
    letter-spacing: -0.001em;    
    padding-top: 50px;
}


.row mt-5{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 3rem !important;
    text-align: justify;
}

.row mt-4{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 3rem !important;
    text-align: justify;
}





.pricingTable {
    text-align: center;
    background: #fff;
    margin: 20px -15px;
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 20px;
    color: #94a9da;
    transform: scale(1);
    transition: all .5s ease 0s
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding: 40px 0;
    background: #f8f5f9;
    border-radius: 20px 20px 50% 50%;
    transition: all .5s ease 0s
    padding
}

.pricingTable:hover .pricingTable-header {
    background: #3c5385
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 35px;
    color: #3c5385;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 24px;
    color: #3c5385;
    margin-bottom: 20px;
    text-transform: uppercase
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #3c5385;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #6681a5
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #4b6cff
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #313549
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #313549
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #3a2163
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #3a2163
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #3a2163
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #40aec9
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #40aec9
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #1394c7
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px
    }
}