<%- include('../../Header/Main'); %>
<body>
    <div class="container-xl">
    <!-- heading -->

    <div class="row justify pb-5">
        <div class="col-lg-4 offset-lg-6">
        <div class="software-title">
            <h2 class="section-title text-white"><hr>Software<br>Solutions<hr></h2><br><br>
        </div>
        </div>
    </div>

    <!-- content -->
    <div class="row mt-5">
        <div class="col">
        <h3 class="m-heading text-white">Website &amp; Web App Development
        </h3>
        <p class="body-md text-white">Dxdiag's skilled developers and designers collaborate to create websites that meet the needs of both businesses and their users. These solutions are not only functional, but also beautiful.</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
        <h3 class="m-heading text-white">Database management
        </h3>
        <p class="body-md text-white">With our fully managed services, you can avoid the complexities of database and data warehouse administration. Serverless capabilities automatically adjust throughput based on demand. Databases are designed to handle mission-critical workloads. Build scalable, dependable, and secure enterprise applications while keeping your data safe. </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
        <h3 class="m-heading text-white">Custom Software
        </h3>
        <p class="body-md text-white">Custom software for your business needs, based on the most recent technologies and principles.We specialize in custom software development to assist your business in growing. The process of designing, developing, and deploying software applications to meet the specific needs of your business is known as custom software development.</p>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
        <h3 class="m-heading text-white">Software Support
        </h3>
        <p class="body-md text-white">Software must be maintained in order to correct flaws, bugs, and issues and to improve performance. Every month, we can improve your software thanks to our support and maintenance.
        </p>

        </div>
    </div>
    </div>
  </body>
<%- include('../../Footer/Main'); %>