<%- include('Header/Main'); %>

<body>
    <div class="container pb20">
      <div class="feature-content">
        <div class="feature-title">
          <p>Clean <span class="feature-and">&</span> Professional Software Solutions</p>
        </div>
        <div class="feature-desc">
          <p>Providing High Quality Software and Server-side solutions</p>
        </div>
        <div class="content-desc">
          <p>We provide <strong>first class</strong> web solutions for organizations and small businesses looking to make a <strong>big impact</strong> online. Our services include web design, online marketing campaigns, and search engine optimization.</p>
        </div>
      </div>    
    </div>
    
    <section class="we-offer-area text-center bg-gray">
      <div class="container">
        <div class="row">
    <div class="col-md-12">

    <div class="row our-offer-items less-carousel">
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <i class="fas fa-pen-fancy">
          </i>
          <h4>
            AI Security
          </h4>
          <p>
            Technical means of ensuring infrastructure security are being integrated.Implementation of secure software development processes providing safe data migration to cloud solutions and ensuring data security, creating internal data security processes and providing control over infrastructure vulnerabilities. Conduction of infrastructure testing and detection of threats
          </p>          
        </div>
        <div class="item-button">
          <span id="Cameras" class="h5 w3-center">Get More Details</span>
        </div>
        <script type="text/javascript">
          document.getElementById("Cameras").onclick = function () {
              location.href = "camerapricing";
          };
      </script>        
      </div>
      
      
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <i class="fas fa-dharmachakra">
          </i>
          <h4>
            Server-Hosting
          </h4>
          <p>
           IT service plans include custom hosting and cloud server environments, Service Desk support, and proactive backend solutions.
            Our reporting solutions keep you up to date on as much information as your company requires. Our goal is to enable you to continue yielding higher returns on your products and services with minimal downtime due to IT issues.
          </p>          
        </div>
        <div class="item-button">
          <span id="Pricing" class="h5 w3-center">Get More Details</span>
        </div>
          <script type="text/javascript">
            document.getElementById("Pricing").onclick = function () {
                location.href = "serverpricing";
            };
        </script>        
      </div>
            
      <div class="col-md-4 col-sm-6 equal-height">
        <div class="item">
          <i class="fas fa-tasks">
          </i>
          <h4>
            Software Solutions
          </h4>
          <p>
            We can create custom software solutions based on best practices that will increase the efficiency of any business. We can develop tailored, complex, data-driven solutions for desktop, web, or mobile using an engineering and agile approach. We can provide full-service solutions ranging from relational database design to reporting and business intelligence.
          </p>          
        </div>
        <div class="item-button">
          <span id="Software" class="h5 w3-center">Get More Details</span>
        </div>
          <script type="text/javascript">
            document.getElementById("Software").onclick = function () {
                location.href = "softwarepricing";
            };
        </script>
        </div>
      </div>
      
    </div>
  </div> 
  
      </div>
    </section>
</body>
  

<%- include('Footer/Main'); %>