<%- include('Header/Main'); %>

<body>
    <section class="main-section">
        <div class="container">
          <h2>
            DXDIAG software solutions
          </h2>
          <h6>
            We provide professional solutions with exceptional service.
          </h6>
          <div class="row">
            <div class="col-lg-4 col-sm-6 fadeInLeft delay-05s animated" style="visibility: visible; animation-name: fadeInLeft;">
              <div class="service-list">
                <div class="service-list-col1">
                  <i class="fa-eye">
                  </i>
                </div>
                <div class="service-list-col2">
                  <h3>
                    Vision
                  </h3>
                  <p>
                    Our vision is to form relationships with each and every client, providing recurring business through a combination of world class solutions, competitive pricing, and agile responses to their needs. 
                  </p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1">
                  <i class="fa-bullseye">
                  </i>
                </div>
                <div class="service-list-col2">
                  <h3>
                    Mission
                  </h3>
                  <p>
                    Our mission is to deliver high quality software solutions to companies, small to large, for any vertical market by maintaining the highest support standards. 
                  </p>
                </div>
              </div>
              <div class="service-list">
                <div class="service-list-col1">
                  <i class="fa-money">
                  </i>
                </div>
                <div class="service-list-col2">
                  <h3>
                    Values
                  </h3>
                  <p>
                    Our values are centred around innovation, agility, honesty and loyalty. 
                  </p>
                </div>
              </div>
            </div>
            <figure class="col-lg-8 col-sm-6 text-right fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
              <div class="service-list" style="text-align:left">
                <div class="service-list-col1">
                  <i class="fa-info">
                  </i>
                </div>
                <div class="service-list-col2">
                  <h3>
                    ABOUT 
                  </h3>
                  <p>
                    Infomasters Software Solutions, based in Woodmead, Johannesburg, is a software development company specialising in retail, membership and hospitality solutions. The company was founded by Marcel Pugin and Oliver Hager in 2001 and has been going from strength to strength since its inception. With the recent acquisition of one of their dealers, Spectrum Retail, Infomasters Software Solutions has expanded on it's skilled team providing further expertise to its clients. 
                  </p>
                </div>
              </div>
              <img src="https://infomasters.co.za/img/infomasters-software-solutions-about2.png">
            </figure>
          </div>
        </div>
      </section>
      
</body>
  

  

<%- include('Footer/Main'); %>