<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/font-awesome.min.css">
<link rel="stylesheet" href="style/header.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="style/cal.css">
<script src="bootstrap/js/bootstrap.min.js" ></script>
<header>
    <div class="navbar">
        <a class="active" href="#"><i class="fa fa-home"></i> Home</a> 
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> 
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a> 
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
</header>

<body>

  <div class="demo10">
    <div class="container">
        <h4 class="text-center">EASY, AFFORDABLE, HASSLE FREE!</h4>
        <div class="py-4 row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Personal</h3>
                        <span class="price-value">
                            <span class="currency">R</span> 199.99
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                          <li>9-5 Support</li>
                          <li>Documentation & Tutorials</li>
                          <li>Live view setup</li>
                          <li>Server hosting</li>
                          <li>CCTV installation</li>
                          <li>1-5 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                          <li>1TB Hard Drive up to 1 Year Storage*</li> 
                          
                        </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Standard</h3>
                        <span class="price-value">
                            <span class="currency">R</span> 299.99
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                          <li>9-5 Support</li>
                          <li>Documentation & Tutorials</li>
                          <li>Live view setup</li>
                          <li>Server hosting</li>
                          <li>CCTV installation</li>
                          <li>5-10 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                          <li>2TB Hard Drive for 1 Year Storage</li>
                          
                        </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Premium</h3>
                        <span class="price-value">
                            <span class="currency">R</span> 399.99
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                          <li>9-5 Support</li>
                          <li>Documentation & Tutorials</li>
                          <li>Live view setup</li>
                          <li>Server hosting</li>
                          <li>CCTV installation</li>
                          <li>10-15 TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                          <li>3TB Hard Drive for 1 Year Storage</li>
                          
 
                        </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Enterprise</h3>
                        <span class="price-value">
                            <span class="currency">R</span> 499.99
                            <span class="month">/mo</span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                          <li>9-5 Support</li>
                          <li>Documentation & Tutorials</li>
                          <li>Live view setup</li>
                          <li>Server hosting</li>
                          <li>CCTV installation</li>
                          <li>15-20+ TP-Link vigi 3MP outdoor bullet IP Network camera</li>
                          <li>4TB Hard Drive for 1 Year Storage</li>
                          
                         </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="py-4 row">
            <div class="span">
                <div class="pricingTable10">
                    <div class="pricingTable-header">
                        <h3 class="heading">Custom</h3>
                        <span class="price-value">
                            <span class="currency"></span> Lets Talk!
                            <span class="month"></span>
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                          <li>Customized Plan</li>
                          <li>Dedicated Environment</li>
                          <li>Phone Support<li>
                          <li></li>
                          <li></li>
                          <li></li>
                        </ul>
                        <a href="#" class="read">sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html> 


