<%- include('../Header/Main'); %>
<body>
    <section id="about">
        <div class="container">
          <header class="section-header">
            <h3>
              About Us
            </h3>
            <p style="width: auto;">
              DXDIAG SOFTWARE SOLUTIONS PRIVATE LIMITED Provides a powerful platform for customers to fulfill all their business needs.
            </p>
          </header>
          <div class="row about-container">
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>
                Discover intelligent IT and software applications solutions to meet your most pressing business challenges while enabling innovation that propels your enterprise forward.
              </p>
              <div class="icon-box fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="icon">
                  <i class="fa fa-list-alt">
                  </i>
                </div>
                <h4 class="title">
                  <a href="">
                    Requirement gathering
                  </a>
                </h4>
                <p class="description">
                  Our Expert will reach out to the customer and take the business needs for analysis.
                </p>
              </div>
              <div class="icon-box fadeInUp" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="icon">
                  <i class="fa fa-cogs">
                  </i>
                </div>
                <h4 class="title">
                  <a href="">
                    Settling up solution
                  </a>
                </h4>
                <p class="description">
                  After analysis, we will find the suitable inbuild module for building the solution.
                </p>
              </div>
              <div class="icon-box fadeInUp" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <div class="icon">
                  <i class="fa fa-rocket">
                  </i>
                </div>
                <h4 class="title">
                  <a href="">
                    Ready to use
                  </a>
                </h4>
                <p class="description">
                    Once the solution is complete, our expert will deploy it on the business module and continuously monitor for errors.
                </p>
              </div>
            </div>
            <div class="col-lg-6 background order-lg-2 order-1 fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <img src="https://img.freepik.com/free-vector/corporate-meeting-employees-cartoon-characters-discussing-business-strategy-planning-further-actions-brainstorming-formal-communication-seminar-concept-illustration_335657-2035.jpg?w=826&t=st=1675152832~exp=1675153432~hmac=d2aa73e2ce4252ccad5394b14c4b3aaa8bba2bae9bc4f4642c5f3801bdc65a09" class="img-fluid">
            </div>
          </div>
          <div class="row about-extra">
            <div class="col-lg-6 fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <img src="https://img.freepik.com/free-vector/businessman-entrepreneur-working-office-desk_3446-678.jpg?w=826&t=st=1675152884~exp=1675153484~hmac=a3d5badd1e8028737fc639689b325604df5d8f3cda4a3682e22fd2d9c241f3c8" class="img-fluid">
            </div>
            <div class="col-lg-6 fadeInUp pt-5 pt-lg-0" style="visibility: visible; animation-name: fadeInUp;">
              <h4>
                Setting up the best solution.
              </h4>
              <p>
                Our hybrid platform includes a variety of developed business modules, allowing us to build solutions for our consumers quickly. Similarly to "PLUG IN AND PLAY,"
              </p>
              <p>
                Once our experts completed the analysis for any business, we will convert that into 1 to N' steps. once we gather all the relevant in-built modules for those steps, they will bind them into a solution for customer.
              </p>
            </div>
          </div>
          <div class="row about-extra">
            <div class="col-lg-6 fadeInUp order-1 order-lg-2" style="visibility: hidden; animation-name: none;">
              <img src="https://www.sreeoverseas.in/img/about-extra-2.svg" class="img-fluid">
            </div>
            <div class="col-lg-6 fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" style="visibility: hidden; animation-name: none;">
              <h4>
                Ready to Use
              </h4>
              <p>
                Once the solution is ready then the delivery team will onboard the solution into their business and take care of continues monitoring of it.
              </p>
              <p>
                When we are building the solution, we will involve the customer also in every stages for taking better ideas from the customer.
              </p>
              <p>
                Our customer support team will always take care of the solutions that we have provided by our platform.
              </p>
            </div>
          </div>
        </div>
      </section>
</body>



<%- include('../Footer/Main'); %>