<section id="intro" class="clearfix">
    <div class="container">
      <div class="intro-img">
        <img src="https://www.sreeoverseas.in/img/intro-img.svg" class="img-fluid">
      </div>
      <div class="intro-info">
        <h2>
          We provide
          <br>
          <span>
            solutions
          </span>
          <br>
          for your business!
        </h2>
        <div>
          <a href="#about" class="btn-get-started">
            Get Started
          </a>
          <a href="#services" class="btn-services">
            Our Services
          </a>
        </div>
      </div>
    </div>
  </section>












  <div class="container">
  <div class="feature-content">
    <div class="feature-title">
      <p>Clean <span class="feature-and">&</span> Professional Software Solutions</p>
    </div>
    <div class="feature-desc">
      <p>Providing High Quality Software and Server-side solutions</p>
    </div>
  </div>
  <div class="content-desc">
    <p>We provide <strong>first class</strong> web solutions for organizations and small businesses looking to make a <strong>big impact</strong> online. Our services include web design, online marketing campaigns, and search engine optimization.</p>
  </div>