<div class="jss1130">
  <div class="MuiContainer-root MuiContainer-fixed">
    <div class="jss1133 jss1149 jss1132 MuiGrid-container MuiGrid-spacing-xs-6 MuiGrid-justify-content-xs-space-between">
      <div class="MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-5 MuiGrid-grid-lg-5">
        <img src="https://img.freepik.com/free-vector/cut-price-bargain-offering-reduced-cost-discount-low-rate-special-promo-scissors-dividing-banknote-crisis-bankruptcy-cheapness-market-vector-isolated-concept-metaphor-illustration_335657-4314.jpg?w=826&t=st=1675323606~exp=1675324206~hmac=643ff8fc5478e96e5e0e1e395a316d5d835885d6eaf73492cbda28a67fbb8a10">
      </div>
      <div class="MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-7 MuiGrid-grid-lg-6" style="position: relative;">
        <div class="MuiContainer-root jss1143 MuiContainer-fixed">
          <div class="jss1155">
            <div class="jss1124 jss1119">
              <div class="jss1127 jss1156">
              </div>
              <h4 class="MuiTypography-root jss1125 MuiTypography-h4 MuiTypography-colorTextSecondary">
                Facilitating savings
                <svg width="59" height="11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 8.5L6 1l4.5 8 5-8L20 9l4.5-8 5 8L34 1l5 8 4.5-8 5 8 5-8L58 8.5" stroke="#387">
                  </path>
                </svg>
              </h4>
            </div>
            <h2 class="MuiTypography-root jss1121 MuiTypography-h2">
              Cutting costs
            </h2>
            <p class="MuiTypography-root jss1122 MuiTypography-body1">
              Prototyping gives excellent possibilities to test the product and experiment with it right there and then. It will provide you with a better perspective on how the end product will work, and you can change the chosen approach to ensure an improved user experience and a more intuitive design, for example. 
              Prototyping implies being updated every step of the way. The customer’s feedback leads to greater results saving time and budget for both the development team and the customer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


Cutting costs

Prototyping gives excellent possibilities to test the product and experiment with it right there and then. It will provide you with a better perspective on how the end product will work, and you can change the chosen approach to ensure an improved user experience and a more intuitive design, for example.
Prototyping implies being updated every step of the way. The customer’s feedback leads to greater results saving time and budget for both the development team and the customer.