<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="min-width: 400px;border-radius: 25px 25px 25px 25px;">
    <header style="border-radius: 25px 25px 0px 0px; background-color: #09b1c5;height: 40px;" > 
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="w3-display-topright w3-button" style="border-radius: 10px 25px 10px 10px;" >&times;</span>
      <h2 id="contact" style="margin: 11px 11px 11px 11px;color: white;"> Contact Us</h2>
    </header>
    <div style="margin: 11px 11px 11px 11px">
      <div class="row" style="width: 100%;">
        <div class="col-8">
          <div class="pt-11 pb-11 pr-11 pl-11">
            
            <p>
              Feel Free to contact us any time. We will get back to you
              as soon as we can:)
            </p>
            <input type="text" class="form-control form-group" placeholder="Name" style="margin: 11px 0px 11px 0px" />
            <input type="text" class="form-control form-group" placeholder="Email"  style="margin: 0px 0px 11px 0px" />
            <textarea class="form-control form-group" placeholder="Message" style="min-height: 200px;margin: 0px 0px 11px 0px;max-height: 400px; overflow-y: scroll;" ></textarea>            
          </div>
        </div>
        <div class="col-4" style="overflow-x:calc()">
          <div class="row">
            <div class="col">
              <h4>Contact Info</h4>
              <div class="">
                <i class="fas fa-headset"></i>
                <span>0749961115</span>
              </div>
            </div>
            <div class="col">
              <div class="">
                <i class="fas fa-envelope-open-text"></i>
                <span>support@dxdiag.co.za</span>
              </div>
            </div>
            <div class="col">
              <div class="">
                <i class="fas fa-map-marked-alt"></i>
                <span>Bedfordview, Germiston, 1401</span>
              </div>
            </div>          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="margin: 11px 0px 11px 0px">
          <button class="contact_form_submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
